@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.form {
    border: 0.15rem solid colors.$gray;
    border-radius: 1rem;
    display: block;
    padding: 1rem;
    margin: 0 auto;
    width: fit-content;
    
    .buttons {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        height: 2rem;
    }


}