@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.container404 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: colors.$white;
    width: fit-content;
    height: fit-content;
    min-width: 30rem;
    min-height: 15rem;
    border-radius: 1rem;

    display: grid;
    place-items: center;

    // border: 0.5rem dashed colors.$black;
    box-shadow: 0rem 0rem 1rem colors.$black;

}