$white: #fafaf9;
$light-gray: #e0e0e0;
$gray: #a9afbb;
$black: #1E1D28;

$light-accent: #72c0e9;
$accent: #518bd4;
$dark-accent: #5d75c6;

$info :$light-accent;
$success :#55af7f;
$warning :#ce9b4e;
$danger :#f55a4e;
$primary :$dark-accent;