@use './colors.scss';

.btn {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.4rem;
    border: 0.15rem solid colors.$accent;
}

.btn-accent {
    background-color: colors.$accent;
}

.btn:hover {
    background-color: colors.$dark-accent;
    border-color: colors.$dark-accent;
}