@use './colors.scss';
@use './sizes.scss';

.btn {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.4rem;
    border: 0.15rem solid colors.$accent;
    padding: 0.5rem 1rem;
}

.btn-accent {
    background-color: colors.$accent;
}

.btn:hover {
    background-color: colors.$dark-accent;
    border-color: colors.$dark-accent;
}

.header {
    max-width: sizes.$container-width;
    margin: 0 auto;
    background-color: colors.$dark-accent;

    padding: 1rem;
    box-shadow: 0rem 0.1rem 0.2rem colors.$black;
    position: relative;
    z-index: 1;

    p {
        margin: 0;
        font-size: 2rem;
        font-weight: 600;
        text-shadow: 0rem 0rem 1rem colors.$light-gray;
    }
}

.main {
    margin: 0 auto;
    height: 100dvh;
    background-color: colors.$white;
    max-width: sizes.$container-width;

    h1 {
        text-align: center;
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
}