@use './colors.scss';
@use './sizes.scss';

.btn {
    font-size: 1rem;
    background-color: transparent;
    border-radius: 0.4rem;
    border: 0.15rem solid colors.$accent;
    padding: 0.5rem 1rem;
}

.btn-accent {
    background-color: colors.$accent;
}

.btn:hover {
    background-color: colors.$dark-accent;
    border-color: colors.$dark-accent;
}

.main {
    margin: 0 auto;
    padding: 2rem 0rem 4rem 0rem;
    min-height: calc(100dvh - 9rem);
    background-color: colors.$white;
    max-width: sizes.$container-width;

    >h1 {
        text-align: center;
        margin-bottom: 2rem;
    }
}

.up-controls {
    padding: 1rem 0rem;
    margin: 0rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1rem solid colors.$light-gray;
}