@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}

.card {
    background-color: colors.$light-gray;
    border: 0.2rem solid black;
    width: calc(sizes.$container-width/3 - 2rem);
    height: calc(sizes.$container-width/5 - 2rem);
    transition: transform .15s;
    display: grid;
    place-items: center;
    flex: none;
    border-radius: 0.4rem;
    text-decoration: none;

    h2 {
        text-align: center;
        width: fit-content;
        height: fit-content;
        user-select: none;
    }
}

.card:hover {
    transform: scale(1.05);
}