@use '../../styles/colors.scss';
@use '../../styles/sizes.scss';

.controls {
    padding: 1rem 0rem;
    margin: 0rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 0.1rem solid colors.$light-gray;
}